{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<center>
<h2>Login</h2>
</center>

<form method="POST" class="login-form">
    <label>Email</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password</label><br>
    <div class="password-field">
        <input id="loginPassword" type="password" name="password" required>
        
    </div>
    <br><br>

    <button type="submit">Login</button>
</form>

{% if get_flashed_messages() %}
    <p style="color:red;">
        {{ get_flashed_messages()[0] }}
    </p>
{% endif %}
{% endblock %}
